:root {
  --header-height: 60px;
  --user-card-height: 60px;
  --app-background-color: #F7F7F7;
  --gatling-blue: #24275E;
  --avatar-diameter: 50px;
  --border-radius-button: 5px;
  --global-radius: 1rem;
  --button-blue: #6161D6;
  --button-blue-hover: #5555BE;
  --button-orange: #f78557;
  --button-orange-hover: #CD7258;
}

html,
body,
#root,
.App {

}

p {
  margin: 0;
}

a, button {
  cursor: pointer;
}

button {
  border: none;
  text-decoration: none;
  border-radius: var(--border-radius-button);
  color: #ffffff;
}
